.sidebar {
    width: 16rem;
    height: 100vh;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 4rem;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar a .link-text {
    display: block;
}

nav a .link-text {
    font-size: 1rem;
    font-weight: 500;
    color: #26528f;
}
.sidebar.collapsed a .link-text {
    display: none;
}


.sidebar a:hover {
    background-color: #f9fafb;
}

.toggle-icon {
    cursor: pointer;
    transition: transform 0.3s;
}

.toggle-icon.collapsed img {
    transform: rotate(180deg);
}

.main-content {
    flex: 1;
    background-color: #f1f5f9;
    padding: 2rem;
}

.sidebar a.active-link {
    background-color: #f9fafb;
    font-weight: bold; 
    color: #26528f;
    border-radius: 50px 0 0 50px;
  }